.header {
  z-index: 1;
  padding: var(--spacing-container);
  background-color: var(--header-color);
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.subheader {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  background: #004ddc;
}

.subheader a {
  display: block;
  padding: 1.5em 2em;
  color: #fff;
}

.logoContainer {
  grid-column: 1;
  padding: 1em 0.5em;
  padding-left: 12em;
}

.logoContainer img {
  width: 86px;
  height: auto;
}

.links {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12em;
}

.links a {
  padding: var(--header-links-spacing);
  color: var(--color-link-4);
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: bold;
}

@media (max-width: 700px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .links {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--spacing-container);
  }
}
