.header {
  z-index: 1;
  padding: var(--spacing-container);
  background-color: var(--header-color);
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}
.hamburger_menu {
  display: none;
  justify-content: flex-end;
}
.faIcon {
  display: block;
  font-size: 2em;
  color: #e9e9e9;
}

.subheader {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  background: #004ddc;
}

.subheader a {
  display: block;
  padding: 1.5em 2em;
  color: #fff;
}

.logoContainer {
  grid-column: 1;
  padding: 1em 0.5em;
  padding-left: 12em;
}

.logoContainer img {
  width: 86px;
  height: auto;
}

.links {
  grid-column: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 12em;
  transition: 0.3s all linear;
}

.links a {
  padding: var(--header-links-spacing);
  color: var(--color-link-4);
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: bold;
}

@media screen and (max-width: 1220px) {
  .logoContainer {
    padding-left: 3em;
  }

  .links {
    padding-right: 3em;
  }
}

@media screen and (max-width: 980px) {
  .logoContainer {
    padding-left: 1em;
  }

  .links {
    padding-right: 1em;
  }
}

@media screen and (max-width: 940px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .links {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-right: 0;
  }
}

@media (max-width: 742px) {
  .logoContainer {
    text-align: center;
    padding: 1em 0.5em;
  }
  .header {
    display: flex;
    flex-direction: column;
  }

  .links {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--spacing-container);
  }

  .links > div {
    display: inherit;
    flex-wrap: inherit;
    justify-content: inherit;
  }

  .links a {
    display: block;
    width: 220px;
    text-align: center;
    font-size: 1.2em;
    border: 1px solid;
    border-radius: 50px;
    margin: 0.3em;
  }

  .hamburger_menu {
    display: flex;
  }
  .mobi_hide_menu {
    height: 0;
    overflow: hidden;
  }
  .mobi_show_menu {
    height: 300px;
  }
}
