.content h3 {
  margin: 3em 0 2em 0;
}

.introWrap {
  text-align: justify;
  margin: 0 auto;
  width: 80%;
}

.introWrap ol {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.56;
  letter-spacing: 2px;
}

.introWrap p {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 2px;
}

.paraLeft {
  text-align: left;
}

.loaderContainer {
  position: relative;
  margin-top: 50px;
  height: 50px;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

.noSongs {
  text-align: center;
}

.songsCount {
  color: var(--color-link-3);
}

.songsTable {
  width: 100%;
  margin-top: var(--spacing-container);
}

.songsTable thead th {
  text-align: left;
  padding-bottom: var(--spacing-container);
}

.songsTable tbody td {
  color: var(--color-link-1);
  padding-bottom: 30px;
}

.error {
  color: var(--error);
  text-align: center;
}
