.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--spacing-container);
  margin-top: var(--spacing-container);
}

.buttons button {
  width: 100%;
}

.success,
.infoText {
  color: var(--success);
  margin-top: var(--spacing-container);
  text-align: center;
}

.infoText {
  color: var(--color);
}

@media (max-width: 600px) {
  .buttons {
    grid-template-columns: initial;
  }
  .signupButton {
    grid-row: 1;
  }
}
