.payBtn {
  display: block;
  min-width: 15em;
}

/*@note: CHANGING THIS STYLE IS LIKE OPENING A PANDORA'S BOX*/
.payBtn2 {
  opacity: 0.01;
  position: absolute;
  top: 1em;
  width: 100%;
}

.btnAllWrap:hover > .payBtn {
  outline: 0;
  cursor: pointer;
  background-color: var(--color-link-2);
  color: #fff;
}

.btnAllWrap {
  position: relative;
  max-width: 17em;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5em;
  text-align: center;
}

.btnAllWrap span {
  width: 100%;
}
