.content {
  background: #eaeaea;
  padding: 0 1em 5em 1em;
}
.para {
  margin-left: 5px;
}

.content h4 {
  text-transform: lowercase;
}
.content h4:first-letter {
  text-transform: uppercase;
}

.subpara {
  margin-left: 15px;
}
.subsubpara {
  margin-left: 25px;
}
