.buttons {
  display: block;
  text-align: center;
}

.backBtn,
.nextBtn {
  min-width: 15em;
}

.backBtn {
  display: block;
  margin: 0 auto;
}

.nextBtn {
  display: block;
  margin: 0.5em auto;
}
