.popup {
  width: 100%;
  min-width: 300px;
  height: auto;
  max-height: 350px;
  background: #fff;
  overflow-y: scroll;
  padding: 1em;
  box-shadow: 0 9px 10px #4a4a4a;
}

.popupWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.eachItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin: 0.5em 0;
}

.trackText {
  flex: 1;
  cursor: pointer;
}
.trackText small {
  color: #4062ba;
}

.iconsWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeWrap {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5em;
}

.faIconClose {
  cursor: pointer;
  font-size: 1em;
  color: #3917fe;
}

.faIcon {
  cursor: pointer;
  font-size: 1em;
  margin: 0.8em;
  color: #3917fe;
}

.header p {
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1.56;
}
