.btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  text-align: left !important;
  margin: 0 auto;
  min-width: 318px;
}

.fbBtn:focus,
.fbBtn:hover {
  outline: 0;
  cursor: pointer;
  background-color: var(--color-link-2);
  color: #fff;
}

.fbBtn:active,
.fbBtn:focus {
  opacity: 1;
}

.faIcon {
  margin: 0 1em 0 0;
  width: 30px !important;
  height: auto;
}
