.content {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.saveBtn {
  align-self: flex-start;
}

.nextBtn {
  align-self: flex-end;
}

.loaderContainer {
  position: relative;
  margin-top: 50px;
}
