.content {
  position: relative;
  display: flex;
  flex-direction: column;
}

.text {
  margin-bottom: 3em;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-between;
}
.backBtn {
  align-self: flex-start;
}

.saveBtn {
  align-self: flex-start;
}

.nextBtn {
  align-self: flex-end;
}

.loaderContainer {
  position: relative;
  margin-top: 50px;
}

.list {
  margin-top: 4em;
}
