.row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 40px;
  margin-bottom: 1em;
}

.gridWrap {
  display: block;
  font-size: 15px;
  color: #694873;
}
.gridWrap:last-child {
  text-align: center;
}
.faIcon {
  cursor: pointer;
  font-size: 1em;
  margin: 0.2em 0.8em;
}
.deletePrompt {
  width: 200px;
  background: #fff;
  box-shadow: 0 0 10px #000;
  height: auto;
  position: absolute;
  right: 0;
  border-radius: 5px;
  padding: 0.5em 0.5em 0 0.5em;
  color: #4062ba;
  font-weight: 600;
}

.smBtnWrap {
  margin-top: 0.5em;
  border-top: 1px solid #ccc;
  padding: 0.5em 0;
}

.smBtnApprove {
  border: #4062ba 2px solid;
  display: inline-block;
  border-radius: 20px;
  padding: 0.1em 1em;
  cursor: pointer;
  font-size: 0.9em;
  color: #4062ba;
}

.smBtnDeny {
  border: #ccc 2px solid;
  display: inline-block;
  border-radius: 20px;
  padding: 0.1em 1em;
  cursor: pointer;
  font-size: 0.9em;
  color: #4062ba;
}
