.h4 {
  font-size: 27px;
  font-weight: 800;
  color: #694873;
}

.guardianTable {
  width: 100%;
  margin-top: var(--spacing-container);
}

.guardianTable thead th {
  text-align: left;
  padding-bottom: var(--spacing-container);
}

.guardianTable tbody td {
  color: #694873;
  line-height: 2.5em;
  font-size: 18px;
}
