.content {
  display: flex;
  flex-direction: column;
}

.para {
  font-size: 18px;
  text-align: center;
  margin-bottom: 2em;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.saveBtn {
  align-self: flex-end;
}

.nextBtn {
  align-self: flex-end;
}

.error {
  border: 1px solid red;
}
