.content {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.saveBtn {
  align-self: flex-end;
}

.nextBtn {
  align-self: flex-end;
}

.error {
  border: 1px solid red;
}
