.addGuardian {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.addGuardian button {
  margin-left: auto;
}

.next button {
  margin-left: auto;
}

.inputs {
  display: grid;
  grid-gap: var(--spacing-elements);
  grid-template-columns: 1fr 1fr 2fr;
}
.addError {
  color: var(--error);
  text-align: center;
}

@media (max-width: 600px) {
  .inputs {
    grid-template-columns: initial;
  }
  .addGuardian button {
    align-self: initial;
  }
}
