.addGuardian {
  display: flex;
  flex-direction: column;
}

.content h4 {
  font-size: 27px;
  font-weight: 800;
  color: #4062ba;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  flex-wrap: wrap;
}

.addGuardianBtn {
  align-self: flex-start;
  border-color: #ffffff;
}
.backBtn {
  align-self: flex-start;
  border-color: #ffffff;
}
.nextBtn {
  align-self: flex-end;
  border-color: #ffffff;
}

.inputs {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
}
.addError {
  color: var(--error);
  text-align: center;
}

@media (max-width: 600px) {
  .inputs {
    grid-template-columns: initial;
  }
  .buttons {
    justify-content: center;
  }
  .buttons button {
    min-width: 300px;
    margin-top: 1em;
  }
}
