.footer {
  flex-shrink: 0;
  background-color: var(--footer-color);
  padding: 2em 7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 15px;
}

.left {
  display: flex;
}

.left a,
.right a {
  padding: var(--spacing-elements);
  color: #4d4d4d;
  text-decoration: none;
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    padding: 2em 0.5em;
  }
  .left {
    text-align: center;
    margin-bottom: var(--spacing-container);
  }
}
