.deleteIcon {
  font-weight: bold;
  margin-left: var(--spacing-elements);
  cursor: pointer;
  float: right;
}

.listWrap ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2.5em;
}

.faIcon {
  color: #3917fe;
}
