.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--spacing-container);
  margin-top: var(--spacing-container);
}

.buttons button {
  width: 100%;
}

@media (max-width: 600px) {
  .buttons {
    grid-template-columns: initial;
  }
  .loginButton {
    grid-row: 1;
  }
}
