.content_wrap {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  margin: 0 auto;
}

.text {
  text-align: center;
}

.list {
  font-size: 23px;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  padding-left: 0;
  list-style: none;
  font-weight: 600;
}

.listItemText {
  color: #fff;
}

.listItem {
  display: flex;
}

.listItem::before {
  content: '» ';
  margin-right: 0.2em;
}

.text h2 {
  font-size: 72px;
  font-weight: bold;
  color: #eaeaea;
  margin-top: 1.3em;
  margin-bottom: 0;
}

.text h4 {
  margin: 0.2em;
  color: #eaeaea;
  font-size: 23px;
  font-weight: 600;
}

.btn_grp {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn_grp a {
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: #fff;
}

.teal {
  margin-top: 12em;
  padding: 6em 0.5em;
  background: #59c2c2;
}

.ci_wrapper {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  color: #fff;
  justify-content: center;
}

.ci_wrapper .ci_left {
  padding: 1em 3em;
  display: block;
  text-align: center;
}

.ci_wrapper .ci_left_lg {
  width: 328px;
}

.ci_wrapper .ci_right {
  padding: 1em;
}

.ci_wrapper .ci_right {
  max-width: 665px;
  text-align: left;
}

.ci_right .highlight_text,
.ci_right .highlight_text_2 {
  font-size: 43px;
  font-weight: 800;
  padding: 0;
  margin: 0;
  line-height: 1.2;
}

.ci_right .highlight_text_2 {
  font-size: 34px;
}

.ci_right p {
  font-size: 24px;
  letter-spacing: normal;
  font-weight: 600;
}

.ci_left a {
  margin-top: 3em;
  display: block;
  color: #4062ba;
  border: 3px solid #4062ba;
}

.greay {
  background: #eaeaea;
  padding-bottom: 1em;
}

.quotes {
  transition: all 2ms ease-in-out;
  border: 1px solid #eaeaea;
  min-height: 300px;
  text-align: center;
  max-width: 737px;
  margin: 0 auto;
}

.quotes p {
  padding-top: 1em;
  font-family: 'Merriweather', sans-serif;
  font-size: 38px;
  color: #f35b69;
}

.quotes span {
  font-weight: bold;
  font-size: 19px;
  text-transform: uppercase;
  color: #808080;
}

@media screen and (max-width: 1180px) {
  .ci_wrapper {
    justify-content: space-evenly;
  }

  .ci_wrapper .ci_left {
    padding: 1em 1em;
    width: 328px;
  }

  .ci_wrapper .ci_right {
    width: 670px;
  }
}

@media screen and (max-width: 1008px) {
  .ci_wrapper .ci_right {
    text-align: justify;
  }

  .ci_right .highlight_text,
  .ci_right .highlight_text_2 {
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 932px) {
  .text h2 {
    font-size: 60px;
    padding: 0 0.5em;
  }

  .ci_right .highlight_text,
  .ci_right .highlight_text_2 {
    font-size: 32px;
  }

  .ci_right p,
  .list {
    font-size: 20px;
  }

  .quotes p {
    font-size: 30px;
  }
}

@media screen and (max-width: 742px) {
  .text h2 {
    font-size: 45px;
    margin-top: 0;
    line-height: 1.2;
  }

  .text h4 {
    font-size: 20px;
    padding: 0 0.5em;
  }
}

@media screen and (max-width: 459px) {
  .btn_grp {
    margin-top: 0;
  }
  .btn_grp button:last-child {
    margin-top: 0;
  }
  .teal {
    margin-top: 0;
  }
}
