.content {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

.text {
  text-align: center;
}

.text p,
.list {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 2px;
}

.text h2 {
  font-size: 52px;
  font-weight: bold;
  color: #168cff;
}

.quotes {
  border-bottom: 1px solid #ccc;
  margin: 0.5em 0 2em 0;
  font-weight: bold;
}

.subtitle {
  font-weight: normal;
  text-transform: none;
}

.list {
  text-align: left;
  color: #000000;
  padding-left: 16px;
}

.listItem {
  margin: 14px;
}

.listItemText {
  color: var(--color);
}

.links {
  color: #3917fe;
  display: flex;
  justify-content: space-around;
  margin: var(--spacing-container) 0;
  margin-top: 3em;
  font-weight: bold;
}

@media (max-width: 600px) {
  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .links > a {
    margin: var(--spacing-elements);
  }
}

.h3 {
  padding: 0 0.5em 2em 0.5em;
}
