.btn {
  display: flex;
  align-items: center;
  padding: 10px 28px;
  text-align: left !important;
  margin: 1em auto;
  min-width: 318px;
}

.faIcon {
  margin: 0 1em 0 0;
  width: 30px !important;
  height: auto;
}
