.allWrap {
  margin-top: 5em;
  text-align: center;
  min-height: 66vh;
  padding: 0 1em 5em 1em;
}
.allWrap label {
  padding-left: 0;
  font-weight: 600;
}
.allWrap input {
  color: #e9e9e9;
}
.allWrap input::placeholder {
  color: #e9e9e9;
  opacity: 0.6;
}
.h3 {
  margin: 0 auto;
  font-size: 45px;
  font-weight: 800;
  color: #4062ba;
}

.infoText {
  margin: 1em auto;
  display: block;
  max-width: 620px;
  color: #e9e9e9;
  font-size: 18px;
  font-weight: 600;
}

.formWrap {
  max-width: 490px;
  text-align: initial;
  margin: 5em auto 1em auto;
}

.textfield {
  max-width: 440px;
}

.btnWrap {
  display: flex;
  margin-top: 90px;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .btnWrap {
    justify-content: center;
  }
  .h3 {
    font-size: 37px;
  }
}
