.invoiceTable {
  width: 100%;
  margin-top: var(--spacing-container);
}

.invoiceTable thead th {
  color: #4062ba;
  text-align: left;
  padding-bottom: var(--spacing-container);
  font-weight: 600;
}

.invoiceTable tbody td {
  color: #4062ba;
  padding-bottom: 30px;
  font-size: 19px;
}
