.loaderContainer {
  position: relative;
  height: 40px;
  margin: var(--spacing-container) 0;
}

.btn_wrap {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3em;
}

.text {
  font-size: 18px;
  line-height: 28px;
  max-width: 750px;
  margin: 0 auto;
}

.text h3 {
  margin-top: 1.5em;
  font-size: 45px;
  font-weight: 800;
  color: #4062ba;
}

.heading_primary {
  text-align: center;
  font-size: 27px;
  font-weight: 800;
  color: #4062ba;
}

.main_text p {
  text-align: center;
  font-size: 19px;
  color: #4062ba;
  font-weight: 600;
}
.need_more {
  float: right;
  font-size: 13px;
  color: #694873;
  cursor: pointer;
  font-weight: 600;
}

@media (max-width: 600px) {
  .text h3 {
    font-size: 37px;
  }
}
