.errors {
  color: red;
  font-size: 0.7em;
  margin: 0.7em 0;
}

.payBtn {
  display: block;
  margin: 0.5em auto;
  min-width: 15em;
}

.afterPayBtn {
  display: block;
  margin: 0.5em auto;
  min-width: 15em;
}

.noticeWrapper {
  text-align: center;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

.noticeWrapperInner {
  padding: 5em 0.5em 0.5em 0.5em;
  min-height: 300px;
}
