.content {
  display: flex;
  flex-direction: column;
}

.success {
  color: var(--success);
  margin-top: var(--spacing-container);
  text-align: center;
}

.submit {
  align-self: flex-end;
}

@media (max-width: 600px) {
  .submit {
    align-self: initial;
    width: 100%;
  }
}
