.all_wrap {
  min-height: 75vh;
}
.content {
  display: flex;
  flex-direction: column;
  max-width: 770px;
  margin: 0 auto;
  padding: 0 1em 5em 1em;
}

.content h3 {
  margin: 0.6em auto;
  font-size: 45px;
  font-weight: 800;
  color: #4062ba;
}
.content label {
  padding-left: 0;
  font-weight: 600;
}
.content input {
  color: #e9e9e9;
}
.content input::placeholder {
  color: #e9e9e9;
  opacity: 0.6;
}

.content p {
  color: #eaeaea;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.56;
  text-align: center;
}

.success {
  color: var(--success);
  margin-top: var(--spacing-container);
  text-align: center;
}

.submit {
  display: block;
  margin: 3em auto 0 auto;
  width: 42%;
}

.inputWrap {
  width: 100%;
  margin: 2em auto 1em auto;
}

@media (max-width: 600px) {
  .submit {
    align-self: initial;
    width: 100%;
  }
  .content h3 {
    font-size: 37px;
  }
}
