.allWrap {
  margin-top: 5em;
  text-align: center;
}

.infoText {
  margin: 0 auto;
  display: block;
  max-width: 620px;
  letter-spacing: 2px;
  line-height: 28px;
}

.formWrap {
  max-width: 490px;
  text-align: initial;
  margin: 5em auto 1em auto;
}

.textfield {
  max-width: 440px;
}

.btnWrap {
  display: flex;
  margin-top: 90px;
  justify-content: flex-end;
}
