.allWrap {
  text-align: center;
  min-height: 75vh;
}
.content {
  padding: 0 1em 5em 1em;
}
.content h3 {
  margin: 0.6em auto;
  font-size: 45px;
  font-weight: 800;
  color: #4062ba;
}
.content label {
  padding-left: 0;
  font-weight: 600;
}
.content input {
  color: #e9e9e9;
}
.content input::placeholder {
  color: #e9e9e9;
  opacity: 0.6;
}

.infoText {
  margin: 0 auto;
  display: block;
  max-width: 620px;
  line-height: 28px;
  color: #e9e9e9;
  font-weight: 600;
  font-size: 20px;
}

.formWrap {
  max-width: 490px;
  text-align: initial;
  margin: 5em auto 1em auto;
}

.textfield {
  max-width: 440px;
}

.btnWrap {
  display: flex;
  margin-top: 90px;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .btnWrap {
    justify-content: center;
  }
  .content h3 {
    font-size: 37px;
  }
}
