.content {
  margin: 5em auto;
  max-width: 550px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--spacing-container);
  margin-top: 2em;
}

.buttons button {
  width: 100%;
}

.success {
  color: var(--success);
  margin-top: var(--spacing-container);
  text-align: center;
}

.socialLoginWrapper {
  text-align: center;
  margin: 5em 0 0 0;
  width: 100%;
  min-height: 100px;
}

.socialLoginWrapper .belowBtnInfo {
  margin: 2em 0.1em;
}

@media (max-width: 600px) {
  .buttons {
    grid-template-columns: initial;
  }
  .signupButton {
    grid-row: 1;
  }
}

.checkbox {
  padding-left: 2em;
}

.checkbox span:first-child {
  color: #004ddc;
}
