.all_wrap {
  position: relative;
}
.content {
  margin: 5em auto;
  max-width: 700px;
  padding: 0 1em 1em 1em;
}
.content label {
  padding-left: 0;
  font-weight: 600;
}
.content input {
  color: #e9e9e9;
}
.content input::placeholder {
  color: #e9e9e9;
  opacity: 0.6;
}

.h3 {
  margin: 0 auto;
  font-size: 45px;
  font-weight: 800;
  color: #4062ba;
}
.each_btn_wrap {
  display: inline;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--spacing-container);
  margin-top: 2em;
}

.buttons button {
  width: 100%;
}

.success {
  color: var(--success);
  margin-top: var(--spacing-container);
  text-align: center;
}

.socialLoginWrapper {
  text-align: center;
  margin: 5em 0 0 0;
  width: 100%;
  min-height: 100px;
}

.socialLoginWrapper .belowBtnInfo {
  margin: 2em 0.1em;
  color: #e9e9e9;
  font-size: 23px;
  font-weight: 600;
}

.pop_auth {
  padding-top: 4em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #e9e9e9;
  text-align: center;
}

.pop_auth p span {
  color: #4062ba;
  border-bottom: #4062ba dotted 1px;
  cursor: pointer;
}

.hide {
  display: none;
}

@media (max-width: 600px) {
  .buttons {
    grid-template-columns: initial;
  }
  .signupButton {
    grid-row: 1;
  }
  .h3 {
    font-size: 37px;
  }
}

.checkbox {
  padding-left: 2em;
}

.checkbox span:first-child {
  color: #4062ba;
}
.checkbox span:last-child {
  font-weight: 600;
  font-family: var(--font-family);
}
