.app {
  height: 100vh;
  position: relative;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  color: var(--color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.content {
  width: 960px;
  margin: 0 auto;
  padding: var(--spacing-container);
  flex-grow: 1;
}

.grey_bg {
  background: #eaeaea;
  min-height: 100%;
  padding: 0 1em 5em 1em;
}

.plain_content {
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 960px) {
  .content {
    width: 100%;
  }
}
