@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');

:root {
  --color: #4a4a4a;
  --theme-color: #3917fe;
  --header-color: #fff;
  --footer-color: #f6f8f9;
  --font-family: 'Ubuntu', 'Helvetica', 'Arial', sans-serif;
  --font-size-small: 14px;
  --font-size: 18px;
  --spacing-elements: 8px;
  --spacing-container: 16px;
  --font-weight: 400;
  --color-link-1: #004ddc;
  --color-link-2: #3917fe;
  --color-link-3: #168cff;
  --color-link-1-alpha: rgba(0, 77, 220, 0.5);
  --color-link-2-alpha: rgba(57, 23, 254, 0.5);
  --color-link-3-alpha: rgba(22, 140, 255, 0.5);
  --success: rgb(8, 180, 31);
  --error: rgb(223, 29, 29);
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
}

* {
  box-sizing: border-box;
}

h2 {
  color: #0f1b56;
  font-size: 46px;
  font-weight: normal;
}
h3 {
  font-weight: 700;
  font-size: 22px;
  color: var(--color-link-1);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.4px;
}
h4 {
  color: var(--color-link-3);
  font-size: 22px;
  font-weight: normal;
}
h5 {
  font-size: var(--font-size);
  font-weight: normal;
}
h6 {
  font-size: var(--font-size-small);
  font-weight: normal;
}
p {
  letter-spacing: 2.6px;
}

.spaceHack {
  height: 55px;
}
